[package]
name = "snake"
version = "1.1.0"
edition = "2024"

[dependencies]
crossterm = "0.29.0"
ratatui = "0.30.0"
rand = "0.9.2"

[profile.release]
opt-level = "z"
panic = "abort"
strip = "symbols"
codegen-units = 1
lto = "fat"
